/* Adding some styling to the LayerControl's checkboxes */
.leaflet-control-layers-list{
  max-height: 75vh;
  overflow-y: scroll;
  .leaflet-control-layers-overlays {
    @apply flex flex-wrap max-w-xs;
    label {
      @apply text-base m-2.5;
      & > span {

        input[type=checkbox] {
          @apply hidden;

          & + span {
            width: 2.75em;
            height: 2.75em;
            @apply flex items-center justify-center py-2 rounded-full bg-stone-300 text-stone-400 cursor-pointer transition-colors;
          }

          &:checked + span {
            @apply bg-blue-500 text-white;
          }
        }

        & > span {
        }
      }
    }
  }
}

/* BusMarker has a transition for the translation, this makes the popup to more or less follor it */
.leaflet-pane.leaflet-map-pane {

  & > .leaflet-pane.leaflet-popup-pane > .leaflet-popup.leaflet-zoom-animated {
    &.transitioning-popup {
      transition: all 5s linear;
    }
  }

  &.leaflet-zoom-anim {
    & > .leaflet-pane.leaflet-popup-pane > .leaflet-popup.leaflet-zoom-animated {
      &.transitioning-popup {
        transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
      }

    }
  }
}